
:root {
    --white: hsl(0, 0%, 100%);
    --cream: hsl(30, 38%, 92%);
    --green: hsl(158, 36%, 37%);
    --darker-green: hsl(158, 36%, 17%);
    --dark-blue: hsl(212, 21%, 14%);
    --gray: hsl(228, 12%, 48%);
    --fw-regular: 500;
    --fw-bold: 700;
    --ff-base: 'Montserrat', sans-serif;
    --ff-accent: 'Fraunces', serif;
}

/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
  }


  * {
    margin: 0;
  }
 
  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
 h1, h2, h3 {
  line-height: 1;
}

  /* General Styling */

body {
  background-color: var(--cream);
  font-family: var(--ff-base);
  font-size: 0.875rem;
  color: var(--gray);
  font-weight: var(--fw-regular);


  display: grid;
  min-height: 100vh;
  place-content: center;
  margin: 1rem;
  align-items: center;


}

/* Utilities */

.price-info {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Card Styles */

.card {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 37.5rem;
  display: grid;

}

.product__content {
  padding: var(--content-padding);
  display: grid;
  gap: var(--content-spacing);
}

.product__category {
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  font-size: 0.825rem;
}

.product__title {
  font-weight: var(--fw-bold);
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--dark-blue);
}

.current-price{
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--green);
}


.button {
  background-color: var(--green);
  color: var(--white);
  font-weight: var(--fw-bold);
  font-size: 0.915rem;

  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.button[data-icon="shopping-cart"]::before {
  content: '';
  background-image: url("./images/icon-cart.svg");
  width: 15px;
  height: 16px;
}

.button:is(:hover, :focus) {
  background-color: var(--darker-green);
  color: var(--white);
}

/*Media Queries*/

@media(min-width: 600px) {
  
  body {
    margin: 0 1rem;
  }
  .card {
    grid-template-columns: 1fr 1fr;

  }


}

